#bg{
	/*需要铺在所有的最下面，故用绝对定位*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-width: 1280px;
}
#bg .bg{
	width: 100%;
	background-position: top center;
	background-repeat: no-repeat;
}
#bg .bg1{
	height: 1080px;
	background-image: url('../images/bg1.jpg');
	background-position-y: -50px;
}
#wrap{
	position: relative;
	width:100%;
	height: 1080px;
}
#wrap .wSwiper .swp1{
	opacity: 0;
	position: relative;
	top: 0px;
	left: -200px;
	width: 149px;
	height: 119px;
	margin: 10px 0 0 20px;
}
#wrap .wSwiper .swp1 a img.img2{
	position: absolute;
	top: 0px;
	left: 46px;
	width: 90px;
	height: 90px;
}
#wrap .wSwiper .swp2{
	opacity: 0;
	position: absolute;
	top: 10px;
	right: -200px;
	width: 177px;
	height: 45px;
	background: url('../images/goindex.png');
}
#wrap .wSwiper .swp2 a{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.08);
    border-radius: 20px;
    transition: .3s;
}
#wrap .wSwiper .swp2 a:hover{
    background: rgba(0,0,0,0);
}
#wrap .wSwiper .swp3{
	position: absolute;
	top: 470px;
	right: 50px;
	opacity: 0;
}
#wrap .wSwiper .swp4{
	position: absolute;
	top: 810px;
	opacity: 0;
	right: 140px;
	width: 354px;
	height:150px;
}
#wrap .wSwiper .swp4 .qrcode{
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	border-radius: 8px;
	background:rgba(255,255,255,0.5) url('../images/qrcode.png') no-repeat center center/120px 120px;
}
#wrap .wSwiper .swp4 .line{
	position: absolute;
	top: 5px;
	left: 2px;
	width: 130px;
	height: auto;
	animation: zidingyi 4s linear infinite;
}
@keyframes zidingyi{
	0%{top: 4px;}
	50%{top: 120px;}
	100%{top: 4px;}
}
#wrap .wSwiper .swp4 p{
	color: #3d2672;
	font-size: 16px;
	font-weight: bold;
}
#wrap .wSwiper .swp4 .download{
	float: right;
	width: 205px;
    height: 130px;
}
#wrap .videoBtn{
	position: absolute;
	top: 425px;
	right: 380px;
	width: 165px;
    height: 120px;
	background:url(../images/videoBtn.png) no-repeat;
	cursor: pointer;
}
#wrap .videoBtn img{
	position: absolute;
	top:2px;
	right: 2px;
}